html{
    --shadow-color: #dde5f5;
    --base-color: #f0f4fc;
    --main-color: #0067C2;
}
body{
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    margin: 0px;
    width: 100vw;
    color: black;
    background-color: var(--base-color);
}
.action{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.adminProfile{
    z-index: 3;
    float: right;
    border-radius: 50px;
    height: 36px;
    width: 36px;
    aspect-ratio: 1/1;
}

.icons{
    width: 25px;
    height: auto;
    display: inline;
    margin-right: 10px;
}
.userArea{
    padding-right: 20px;
    float: right;
    right: 0px;
    margin-left: auto;
    height: 100%;
    width: fit-content;
}
.sidePannel{
    z-index: 2;
    background-color: white;
    position: fixed;
    top: 70px;
    width: 300px;
    height: calc(100vh - 70px);
}
.sidePannel>a:hover{
    background-color: #dbeafe;
    color: #3b82f6;
    font-weight: 700;
}
.sidePannel>a{
    margin: 10px 20px;
}
.navbar{
    z-index: 3;
    position: sticky;
    padding-left: 30px;
    width: 100%;
    height: 70px;
    box-shadow: 0px 2px 20px var(--shadow-color);
    background-color: white;
}
.containers{
    background-color:  var(--base-color);
    margin-left: 300px;
    overflow-y: scroll;
    height: calc(100vh - 70px);
    width: calc(100vw - 300px);
}
.content{
    margin-top: 40px;
    width: 95%;
    margin-left: 2.5%;
    height: fit-content;
}

.date-filter{
    float: right;
    margin-right: 10px;
}
input[type=button]{
    margin: 5px;
    cursor: pointer;
}
.bi{
    cursor: pointer;
    z-index: 5;
}
.bi:hover{
    color: var(--main-color);
}
.dateFilterChoice > input[type=button]:hover{
    background-color: var(--base-color);
}
.dateFilterChoice > input[type=button]{
    padding: 5px;
    margin: 0px;
    width: 100%;
    height: 100%;
    text-align: left;
}
.dateFilterChoice{
    display: none;
    width: 150px;
    height: fit-content;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px var(--shadow-color);
}
.seperator,.seperator-2{
    margin-top: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 20px;
}
.seperator-2{
    grid-template-columns: 5fr 1fr;
    column-gap: 20px;
}
.highlight-1{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    height: 150px;
    margin-bottom: 20px;
}
.border--s{
    border-left: 5px solid lightgray;
}
.card-1{
    border-radius: 5px;
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0px 0px 20px var(--shadow-color);
}
table{
    width: 100%;
}
label{
    cursor: pointer;
}
input[type=checkbox]{
    font-size: 30px;
}
.card-2{
    margin-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    width: 100%;
    height: 400px;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 0px 20px var(--shadow-color);
}
.full-card{
    padding-left: 20px;
    padding-top: 20px;
    width: 100%;
    padding-right: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px var(--shadow-color);
    max-height: fit-content;
    padding-bottom: 20px;
}
.bi-circle-fill{
    margin-left: 70px;
}
.admin_login{
    width: 30%;
    height: 600px;
    background-color: white;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 35%;
    text-align: center;
}
input:focus {
    border-color: white; /* Change the border color when focused */
    box-shadow: 0 0 0px rgba(0, 123, 255, 0.5); /* Add a box shadow when focused */
}
.is-invalid{
    border: 1px solid #ff002b;
    color: white;
}
.alert{
    background-color: #ff679456;
    width: fit-content;
    height: fit-content;
}
.dropdown-user{
    background-color: white;
    width: 210px;
    height: 100px;
    margin-top: 15px;
    position: absolute;
    margin-left: 110px;
    padding-left: 10px;
    box-shadow: 0px 2px 20px var(--shadow-color);
    display: none;
}
.droped{
    display: block;
}
.active{
    display: block;
}
#myChart{
    max-width: 100%;
    height: 200px;
    padding-right: 20px;
}

i{
    font-style: normal;
}

@media only screen and (max-width: 1281px) {
    .sidePannel{
        display: none;
    }
    .containers{
        margin-left: 0px;
        width: 100%;
        transition: all 1s ease;
    }
    .seperator{
        grid-template-columns: 1fr;
    }
    .content-2{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
    }
}
select{
    padding: 10px;
    display: block;
    background-color: var(--base-color);
    width: 200px;
}
.styled{
    width: 300px;
    border: 1px solid var(--main-color);
    padding: 10px;
}
.grid{
    grid-template-columns: 1fr 1fr;
    row-gap: 30px;
}
.submit{
    cursor: pointer;
    padding: 10px;
    border: 1px solid var(--shadow-color);
}
.submit:hover{
    background-color: var(--main-color);
    color: white;
}